<html>

<head></head>

<body>
    <form action="/add-order" method="POST">
        <p>
            <input name="name" placeholder="name" />
        </p>
        <p>
            <input name="address" placeholder="address" />
        </p>
        <p>
            <input name="email" placeholder="name" />
        </p>
        <button type="submit">Add Order</button>
    </form>
</body>

</html>